@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.phoneInput {
  width: 100%;
  outline: none;
}

.PhoneInputInput {
  padding: 5px 1px;
  outline: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* thin scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  width: 2px;
  border-radius: 10px;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

:root {
  --color-theme: #739400;
  --color-background: #739400;
  --color-surface: #8aaf00;
}

:root[data-account='admin'] {
  --color-theme: #1a3c6e;
  --color-background: #0f2444;
  --color-surface: #2a5298;
}

body {
  background-color: var(--color-background);
}
